# ----------------------------------------------------------------------
# CONFIG APACHE ET PHP #
# ----------------------------------------------------------------------
AddDefaultCharset UTF-8

# ----------------------------------------------------------------------
# COMPRESS TEXT, HTML, JAVASCRIPT, CSS, XML
# ----------------------------------------------------------------------
<IfModule mod_deflate.c>
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript
</IfModule>

# ----------------------------------------------------------------------
# FORCE MEDIA DOWNLOADS
# ----------------------------------------------------------------------
AddType application/x-ns-proxy-autoconfig .js
